nb-icon, nb-icon svg { 
  width: 1.25rem !important;
  height: 1.25rem !important;
  line-height: 1;
  display: inline-block;
}

nb-card-header nb-icon { margin-right: .5rem; }

svg { max-width: 100%; height: auto; }

nb-icon, nb-icon svg,
i.eva, i.nb-eva, .eva {
  width: 24px !important;
  height: 24px !important;
  line-height: 1 !important;
  display: inline-block !important;
}
nb-card-header nb-icon { margin-right: .5rem; }

svg {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
}

@import "~leaflet/dist/leaflet.css";
